{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
{% if shares_list | length == 0 %}
        Portfolio is empty for a while
{% else %}
<h2 class="text-center">Your Portfolio</h2>
<table class="table table-bordered table-hover">
    <tr>
        <th>Symbol</th>
        <th>Company Name</th>
        <th>QTY</th>
        <th>Price</th>
        <th>Total</th>
    </tr>
    {% for share in shares_list %}
        {% if share.total > 0 %}
        <tr>
            <td>{{ share.symbol}}</td>
            <td>{{ share.company_name}}</td>
            <td>{{ share.qty}}</td>
            <td>{{ share.price}}</td>
            <td>{{ share.total | round(2)}}</td>
        </tr>
        {% endif %}
    {% endfor %}
    <tr>
        <td>Cash:</td>
        <td colspan="3"></td>
        <td>{{ cash | round(1)}}</td>
    </tr>
    <tr>    
        <td>Grand Total:</td>
        <td colspan="3"></td>
        <td><strong>{{ total | round(1) }}</strong></td>
    </tr>

</table>
{% endif %}

{% endblock %}
